<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book a Schedule</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/custom_css/dash.css">
    <link rel="stylesheet" href="/assets/custom_css/current_booking.css">
</head>
<body>
    <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="my-sidebar">
        <a href="#" class="navbar-brand text-light mt-2">
            <div class="h1 display-5 text-dark font-weight-bold">
              <img src="/assets/img/pawsitive_consultations.png" width="280" height="80" alt="logo" class="rounded">
            </div>
        </a>
        <ul class="navbar-nav d-flex flex-column mt-5 w-100">
            <li class="nav-item w-100">
                <a href="/schedule" class="item-margin tab-active nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-solid fa-calendar"></i>
                    <span>Book a Schedule</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="/transaction" class="nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-solid fa-list"></i>
                    <span>Transaction (Bugged)</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="profile" class="nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-solid fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="add-pet" class="nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-solid fa-plus"></i>
                    <span>Add Pet</span>
                </a>
            </li>
            <!--TODO if anything happens during LOGIN and LOGOUT. try to remove href from this-->
            <li class="nav-item w-100">
                <a href="/signout" class="nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-arrow-left "></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="page-content">
      <div class="border-box row">
        <div class="col-sm-3 mt-4 welcome-shadow">
          <h1 class="font-weight-bold text-center">DASHBOARD</h1>
        </div>
        <div class="col-sm-4 mt-4 welcome-shadow">
          <h1 class="font-weight-bold text-center no-gutters">WELCOME, <%= username%>!</h1>
        </div>
      </div>
  
        <!--Booking column-->
        <div class="page-body container disable-scroll g-0">
          <form action="submit-add-booking" method="POST">
            <div class="row ml-2">
              <% if(addBookingStatus == "fail") {%>
                <div class = "error-box">
                    <strong><%= addBookingMessage %></strong>
                </div>
              <%}else if(addBookingStatus == "success"){%>
                  <div class = "success-box">
                      <strong><%= addBookingMessage %></strong>
                  </div>
              <%} %>
              <!--R1C1 Booking forms:-->
              <div class="col-sm-7">
                <div class="row mt-5">
                  <div class="col-sm-12 col-md-12">
                    <!--TODO use forms to obtain data for appointment-->
                    <div class="row ml-4 mt-2 h4">
                      <div class="col-xs-6">
                        <label for="Booked Date"><h4>Booking Date:</h4></label>
                      </div>
                      <div class="col-md-6 ml-4">
                        <input style="width: 100%; margin-left: 2px;" type="date" placeholder="Select which date to admit" name="bookingDate" id="booking-date"/>
                      </div>
                    </div>
                    <div class="row ml-4 mt-3 h4">
                      <div class="col-xs-6">
                        <label for="Booked Time"><h4>Booking Time:</h4></label>
                      </div>
                      <div class="col-md-6 ml-4">
                        <select class="form-select form-select-lg h5 mb-3 w-100" aria-label=".form-select-lg example" name="bookingTime" id="booking-time">
                          <option selected>Select time from options</option>
                          <option value="08:30AM-09:30AM">8:30AM-9:30AM</option>
                          <option value="09:30AM-10:30AM">9:30AM-10:30AM</option>
                          <option value="10:30AM-11:30AM">10:30AM-11:30AM</option>
                          <option value="01:30PM-02:30PM">01:30PM-02:30PM</option>
                          <option value="02:30PM-03:30PM">02:30PM-03:30PM</option>
                          <option value="03:30PM-04:30PM">03:30PM-04:30PM</option>
                          <option value="04:30PM-05:30PM">04:30PM-05:30PM</option>
                      </select>
                      </div>
                    </div>
                    <div class="row ml-4 mt-3 h4">
                      <div class="col-xs-12">
                        <h6><span><b>Notice: </b></span>Office hours start at 9:30AM and end at 5:30PM</h6>
                      </div>
                    </div>
                    <div class="row ml-4 mt-3 h4">
                      <div class="col-xs-6">
                        <label for="Booked Date"><h4>Pet to diagnose:</h4></label>
                      </div>
                      <div class="col-md-6 ml-4">
                        <select class="form-select form-select-lg h5 mb-3 w-75" aria-label=".form-select-lg example" name="bookingPet" id="diagnosed_pet">
                          <!--palceholder only: comment/replace these options-->
                          <option disabled>Select Pet</option>
                          <% for(var i=0; i< userInfo.petInfo.length; i++) {%>
                          <option value="<%= i %>"><%= userInfo.petInfo[i].petName %></option>
                          <%}%>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
    
              <!--R2C2-->
              <div class="col-sm-4 mt-5 border border-info text-center recommended-border">
                <h4> Current Bookings This Week:</h4><hr>
                <div id="booking_container" class="container">
                  <% if (weekBookings.length > 0) {%>
                    <% for(var i = 0; i < weekBookings.length; i++) {%>
                    <div class="row">
                      <div class="col-sm-3">
                        <h6 id="booking_date" class=""><%= weekBookings[i].bookingDate %>:</h6>
                      </div>
                      <div class="col-sm-9">
                        <h6 id="booking_time"><%= weekBookings[i].bookingTime %></h6>
                        <h6 id="diagnosed_pet"><%= weekBookings[i].bookingPet %></h6>
                      </div>
                    </div>
                    <%}%>
                  <%} else {%>
                    <div class="row text-center">
                        <h6 id="booking_time">None approved by a doctor for this week...</h6>
                    </div>
                  <%}%>
                </div>
              </div>
            </div>

            <div class="row ml-2">
              <div class="col-md-7">
                <div class="row mt-5 mb-2 container">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-accept btn-md w-75">Proceed</button>
                  </div>
                  <div class="col-sm-6">
                    <button type="button" class="btn btn-cancel text-light btn-md w-75">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
</body>
<!--TODO FIND AN OFFLINE BOOTSTRAP SERVER-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- CUSTOM SCRIPT -->
<script src="/assets/custom_js/booking.js"></script>
<script src="/assets/custom_js/clientScheduleCancel.js"></script>

</html>