<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Schedule</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" href="/assets/custom_css/dash.css">
    <link rel="stylesheet" href="/assets/custom_css/table.css">
</head>
<body>
    <nav class="navbar navbar-expand d-flex flex-column align-item-start" id="my-sidebar">
        <a href="#" class="navbar-brand text-light mt-2">
            <div class="h1 display-5 text-dark font-weight-bold">
              <img src="/assets/img/Logo.png" width="280" height="80" alt="logo" class="rounded">
            </div>
        </a>
        <ul class="navbar-nav d-flex flex-column mt-5 w-100">
            <li class="nav-item w-100">
                <a href="/appointment" class="item-margin nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-solid fa-calendar"></i>
                    <span>Current Appointment</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="/transaction" class="nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-solid fa-list"></i>
                    <span>Doctor's Transaction</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="/schedule" class="nav-link tab-active text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-solid fa-user"></i>
                    <span>Schedule</span>
                </a>
            </li>
            <li class="nav-item w-100">
                <a href="profile" class="nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-solid fa-plus"></i>
                    <span>Profile</span>
                </a>
            </li>
            <!--TODO if anything happens during LOGIN and LOGOUT. try to remove href from this-->
            <li class="nav-item w-100">
                <a href="signout" class="nav-link text-dark pl-4 font-weight-bold">
                    <i width="10" height="10" class="fas fa-arrow-left "></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="page-content">
      <div class="border-box row">
        <div class="col-sm-3 mt-4 welcome-shadow">
          <h1 class="font-weight-bold text-center">DASHBOARD</h1>
        </div>
        <div class="col-sm-4 mt-4 welcome-shadow">
          <h1 class="font-weight-bold text-center no-gutters">WELCOME, <%= username %>!</h1>
        </div>
      </div>
  
        <!--TODO javascript to test if it can add rows.-->
        <div class="page-body container disable-scroll g-0">
            <div class="row mt-4 ml-2 table-responsive">
              <h4 class="mb-4">Unanswered Appointments</h4>
              <% if(updateBookingStatus == "fail") {%>
                <div class = "error-box">
                    <strong><%= updateBookingMessage %></strong>
                </div>
              <%}else if(updateBookingStatus == "success"){%>
                  <div class = "success-box">
                      <strong><%= updateBookingMessage %></strong>
                  </div>
              <%} %>
              <div class="table-responsive table-wrapper-scroll-y my-custom-scrollbar">
                <table id="appointments_table" class="text-center table table-success table-bordered border-dark" id="user-transactions">
                  <thead>
                    <tr>
                      <th scope="col">Appointment ID</th>
                      <th scope="col">Date</th>
                      <th scope="col">Schedule</th>
                      <th scope="col">Client</th>
                      <th scope="col">Pet</th>
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody id="t-body" data-toggle="collapse" data-target="#appointment_toggleprompt">
                    <% for(var i = 0; i< transaction.length; i++) {%>
                    <tr id="<%= transaction[i].appointmentID %>-<%= transaction[i].status.toLowerCase() %>">
                      <th class="appointment_id" scope="row"><%= transaction[i].appointmentID %></th>
                      <td class="appointment_date"><%= transaction[i].schedule %></td>
                      <td class="appointment_time"><%= transaction[i].time %></td>
                      <td class="appointment_client"><%= transaction[i].clientName %></td>
                      <td class="appointment_pet"><%= transaction[i].petName %></td>
                      <td class="appointment-status <%= transaction[i].status.toLowerCase() %>" class="text-warning h5"><strong><%= transaction[i].status %></strong></td>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
              </div>
              <!--border border-dark -->
              <% for(var i = 0; i< transaction.length; i++) {%>
              <div id="<%= transaction[i].appointmentID %>-<%= transaction[i].status.toLowerCase() %>-options" class="transaction-options container mt-2 p-3">
                <h4 class="mb-3">Toggled Appointment ID: <span class="appointment_id"><%= transaction[i].appointmentID %></span></h4>
                <div class="row justify-content-around mb-2">
                  <button type="button" id="accept_appointment" class="col-sm-3 w-50 btn btn-accept option-btn" value = "<%= i %>">ACCEPT</button>
                  <button type="button" id="reschedule_appointment" class="col-sm-3 w-50 btn btn-reschedule option-btn" value = "<%= i %>">RESCHEDULE</button>
                  <button type="button" id="cancel_appointment" class="col-sm-3 w-50 btn btn-cancel option-btn" value = "<%= i %>">CANCEL</button>
                </div>
              </div>
              <%}%>
            </div>
        </div>
    </div>

</body>
<!--TODO FIND AN OFFLINE BOOTSTRAP SERVER-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script type="text/javascript">
  /*Demo only for the tables*/

  /*Toggle row data using this second way*/
  $(document).ready(function () {
    $('table tbody tr').click(function () {
      console.log("this is the row"+$(this).text());
    });
  });

  /*Another way but removes all your bootstrap/highlighted shit. Needs to be redefined*/
  // $(document).ready( function () {
  //   $('#transaction-table-doctor').DataTable();
  // });
</script>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- CUSTOM SCRIPT -->
<script src="/assets/custom_js/toggleSchedule.js"></script>
<script src="/assets/custom_js/updateStatus.js"></script>

</html>